extends layout

block content
  .rounded-lg.px-4.py-12.bg-white.shadow-lg.flex-1.w-full
    .py-8
      a(
      class="border-blue-dark border-b border-solid no-underline text-blue-dark text-5xl font-light"
      href="https://github.com/new"
      target="_blank"
      ) #{project.dashed}

    ul.list-reset 
      each value in pastProjects
        li.py-2.text-blue-darkest.text-xl.font-light #{value}